@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
header{
    /* background: #ffffff; */
}
.header{
    text-align: center;
}

.header_area{
    padding: 20px;
}

.logo{
    width: 150px;
    filter: invert(1);
}

nav > a {
    margin: 3px 3px 3px 3px;
    background: #ffffff !important;
    color: #181818 !important;
}

.slider{
    background: #f2f2f2;
}

.form-group{
    margin-top: 10px;
}

.page{
    min-height: 100vh;
    background: url('../images/Vector\ 1.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
#actionButtons{
    padding: 20px;
}
#titleLeft{
    position: absolute;
width: 441px;
height: 273px;
left: 60px;
top: 341px;

}

.form-group label{
    color: #ffffff;
}